/*footer navigation bar css*/

section.footer ul {
  height: 45px;
  list-style-type: none;
  margin-top:15px;
  background-color: white;
}

section.footer li {
  background-color: white;
  height: 45px;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

section.footer a{
  display:block;
  text-decoration: none;
}

section.footer li:hover {
  text-decoration: underline;
}

section.footer li a{
  height: 45px;
  line-height: 45px;
  text-align: center;
}

/*padding between sections*/
section.header div.container {
  padding-top: 30px;
}

section.login div.container {
  padding-top: 50px;
}

section.main div.container {
  padding-top: 50px;
}

section.footer div.container {
  padding-top: 50px;
}

section.notes div.container {
  padding-top: 50px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f8ff;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

section.footer{
    text-align: center;
}
